body{
width:80%;
margin:auto;
}

#contact{
text-align:right;
}

#logo{
float:left;
width:100px;
}

h1{
height:10px;
}

#menubar {
text-align:right;
margin-top:20px;
color:red;
}
#himalaya{
height:300px;
width:100%;
}
