body{
width:60%;
margin:auto;
}

#contact{
text-align:right;
}

#logo{
float:left;
width:100px;
}

h1{
height:10px;
}

#menu{
text-align:right;
margin-top:20px;
background-color:red;
}
#himalaya{
height:200px;
width:100%;
}
