body{
width:80%;
margin:auto;
}

#contact{
text-align:right;
}

#logo{
float:left;
width:100px;
}

h1{
height:20px;
}

#menu{
text-align:right;
margin-top:20px;
background-color:chocolate;
padding:8px;
color:white;
}

#himalaya{
height:300px;
width:100%;
}

h2{
height:18px
}

p{
font-size:16px;
}

